body {
  font-family: "Roboto", sans-serif;
}
.wrapper {
  display: inline;
  justify-content: center;
  width: 1600px;
  height: 2349px;
  margin: 0 auto;
  background: #ffffff;
}

.header {
  width: 1600px;
  height: 80px;
}

.project {
  width: 1600px;
  height: 600px;
  background: #2f303a;
}

.project-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
