body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
  justify-content: center;
  background: #ffffff;
  display: inline-block;
  width: 1600px;
  height: 2349px;
}

.buttons {
  width: 1600px;
  height: 80px;
  margin-top: 0px;
  margin-left: 0px;
  display: flex;
  background: #ffffff;
}

.main-description {
  display: inline-block;
  width: 1600px;
  height: 600px;
  background: #2f303a;
}

.elaboration {
  margin-top: 774px;
  margin-left: 215px;
  display: inline-flex;
}
.information {
  background: #2f303a;
  color: #ffffff;
}

.description-name {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.description-click {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
}

.description-click-word {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.highlight {
  color: #2196f3;
}

.webstudio {
  width: 145px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: black;
}

.navigation {
  width: 272px;
  height: 16px;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.agency {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.portfolio {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.contact {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.contacts-links-mail {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.contacts-links-phone {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

a:hover {
  color: #2196f3;
}

a:focus {
  color: #2196f3;
}

.web {
  text-decoration: none;
  font-family: "Raleway";
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
}

.adres {
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.mail {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.contacts-links {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.team {
  background: #f5f4fa;
  justify-content: center;
}

.name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
  text-align: center;
  letter-spacing: 0.03em;
}

.position {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.segregate {
  justify-content: center;
}

.photography {
  display: inline;
  justify-content: center;
}

.person {
  display: inline-block;
  justify-content: center;
}

.categories {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
  letter-spacing: 0.03em;
}

.elaboration-name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.elaboration-description {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: #757575;
}

.menu {
  display: flex;
}

.click-menu {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
}

.menu:active .menu:hover .menu::selection {
  cursor: pointer;
}

.menu-photo {
  display: inline-block;
  justify-content: center;
}

.menu-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.menu-name-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.03em;
  color: #757575;
}
