.body {
  font-family: Roboto, sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1600px;
  height: 2349px;
  margin: 0 auto;
  background: #ffffff;
}

.header {
  width: 1600px;
  height: 80px;
}

.project {
  width: 1600px;
  height: 600px;
  background: #2f303a;
}
